body {
    background-color: rgb(28, 28, 63);
    margin:0px;
}

button {
    background-color: white;
    width: 200px;
    height: 200px;
    border: 0px;
    border-radius: 10px;
    margin: 20px;
    font-size: 36px;
}

.header {
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
}

.upper {
    display: flex;
    flex-direction: column;
}

.choiceBox {
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 300px;
}

.scoreBox {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.playerScore,
.computerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    width: 200px;
}

.lower {
    display: flex;
    justify-content: center;
}

.player,
.computer {
    height: 100px;
    background-color: aqua;
}